<% include partials/header %> 
  <link rel="stylesheet" href="/home.css">
 </head>
 <body>

   <div class="container">
     
     <div class="row">
       <div class="col-lg-12">
         <div id="content">
            <h1>Attendence Manager</h1>
            <h3>The Only App That Understands Your Need</h3>
            <hr>
            <a href="/signup" class="btn btn-default"><i class="fa fa-paw"></i> GET STARTED</a>
         </div>

       </div>
     </div>
   </div>

<% include partials/footer %>
</body>
</html>